.main-menu {
  margin: 0 auto;
}

.menu-body .section-title,
.menu-foot .section-title,
.menu-facial .section-title {
  padding-left: 0px;
}
.menu-body .menu-header,
.menu-foot .menu-header,
.menu-facial .menu-header {
  font-size: 19.2px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .menu-body .menu-header,
  .menu-foot .menu-header,
  .menu-facial .menu-header {
    font-size: 17.2px;
  }
}
@media screen and (max-width: 400px) {
  .menu-body .menu-header,
  .menu-foot .menu-header,
  .menu-facial .menu-header {
    font-size: 14.2px;
  }
}
.menu-body .menu-title,
.menu-foot .menu-title,
.menu-facial .menu-title {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .menu-body .menu-title,
  .menu-foot .menu-title,
  .menu-facial .menu-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
.menu-body .menu-list,
.menu-foot .menu-list,
.menu-facial .menu-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  margin-bottom: 40px;
  border-bottom: dotted 1px #fff;
}
@media screen and (max-width: 400px) {
  .menu-body .menu-list,
  .menu-foot .menu-list,
  .menu-facial .menu-list {
    flex-direction: column;
  }
}
.menu-body .menu-price,
.menu-foot .menu-price,
.menu-facial .menu-price {
  font-size: 19.2px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 10px 22px;
  width: 150px;
}
@media screen and (max-width: 768px) {
  .menu-body .menu-price,
  .menu-foot .menu-price,
  .menu-facial .menu-price {
    font-size: 17.2px;
  }
}
@media screen and (max-width: 400px) {
  .menu-body .menu-price,
  .menu-foot .menu-price,
  .menu-facial .menu-price {
    width: 100%;
    justify-content: space-between;
  }
}
.menu-body .menu-price dd,
.menu-body .menu-price dt,
.menu-foot .menu-price dd,
.menu-foot .menu-price dt,
.menu-facial .menu-price dd,
.menu-facial .menu-price dt {
  display: block;
  margin-bottom: -5px;
}
@media screen and (max-width: 400px) {
  .menu-body .menu-price dd,
  .menu-foot .menu-price dd,
  .menu-facial .menu-price dd {
    width: 23%;
    text-align: right;
  }
}
@media screen and (max-width: 400px) {
  .menu-body .menu-price dt,
  .menu-foot .menu-price dt,
  .menu-facial .menu-price dt {
    width: 60%;
  }
}
.menu-body .menu-price .keta,
.menu-foot .menu-price .keta,
.menu-facial .menu-price .keta {
  margin-left: -10px;
}

.menu-body .menu-list {
  padding-bottom: 10px;
}
.menu-body .menu-list-flex {
  display: flex;
  justify-content: left;
  gap: 0 14px;
  margin-bottom: 7px;
}
@media screen and (max-width: 768px) {
  .menu-body .menu-list-flex {
    gap: 0 10px;
    align-items: center;
    margin-bottom: 20px;
  }
}
.menu-body .menu-list .corse-tag {
  padding: 5px 20px;
  background: rgb(153, 0, 0);
}
.menu-body .menu-list .corse-title {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .menu-body .menu-list .corse-title {
    font-size: 20px;
  }
}
.menu-body .menu-list .corse-text {
  font-size: 14px;
  padding-left: 10px;
  margin-bottom: 20px;
}/*# sourceMappingURL=style-menu.css.map */