@charset "utf-8";
@use "responsive" as*;

.section-recruit{
    margin:10px 20px ;
    margin-bottom: 58px;
    table{
        border-collapse: collapse
    }
    th,
    td{
        text-align: center;
        padding: 20px 0;
        border:1px solid #fff ;
        white-space: nowrap;
        @include responsive(sm){
            font-size: 14px;
        }
    }
    tr th{
        width: 30%;
        @include responsive(sp){
            width: 100%;
        }
    }
    tr{
        @include responsive(sp){
            display: flex;
            flex-direction: column;
            th{
                background-color: #fff;
                color: #000;
                padding: 7px 0;
            }
        }
    }
}