@charset "utf-8";
@use "responsive" as*;

.notes{
    margin-bottom: 46px;
    .inner{
        padding: 0;
        @include responsive(sm){
            padding:0 10px;
            p{
                @include responsive(sp){
                    font-size: 14px;
                }
            }
        }
    }
    .section-title{
        padding-left: 0;
    }
    &-text{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 25px;
        line-height: 22.99px;
        @include responsive(sp){
            font-size: 14px;
        }

    }
    &-list-title{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 7px;
        @include responsive(sp){
            font-size: 20px;
        }

    }
    &-list{
        margin-bottom:30px ;
        padding-left: 10px;
        &-item{
            line-height: 22.99px;
            @include responsive(sp){
                font-size: 14px;
            }
            span{
                font-size: 14px;
                color:rgba(153, 0, 0, 1) ;
            }
        }
    }
}

