@charset "utf-8";
@use "responsive" as*;

.section-recruit{
    margin:10px 20px ;
    margin-bottom: 58px;
    table{
        border-collapse: collapse
    }
    td{
        text-align: center;
        padding: 20px 0;
        border:1px solid #fff ;
    }
    tr td:first-child{
        width: 30%;
    }
    tr td:last-child{
        padding: 0 10px;
    }
}