@charset "utf-8";
@use "reset";
@use "responsive" as*;

// 汎用クラス
* {
    box-sizing: border-box;
    font-family: 'Noto Serif JP', serif;
}

body {
    background-color: #000;
    color: rgb(255, 255, 255);
}

.inner {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

.sp-none {
    @include responsive(sm) {
        display: none;
    }
}

.pc-none {
    display: none;

    @include responsive(sm) {
        display: block;
    }

}


// ヘッダー
.header {
    position: relative;

    .inner {
        padding: 10px 20px;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-left {

        @include responsive(sm) {
            width: 200px;
        }
    }

    &-right {
        @include responsive(sm) {
            font-size: 14px;

        }

        &-btn {
            display: block;
            padding: 10px 30px;
            background-color: rgb(153, 0, 0);
            border-radius: 20px;

            @include responsive(sp) {
                padding: 8px 15px;
                font-size: 13px;
            }
        }

        &-btn:hover {
            transition: all 0.25s;
            background-color: rgba(153, 0, 0, 0.7);
        }
    }

    &-bottom {
        background-color: #fff;

        @include responsive(sm) {
            display: none;
        }

        .inner {
            padding: 0 20px;

            @include responsive(sm) {
                position: fixed;
                top: 0;
                z-index: 1;
                background-color: rgba(7, 7, 7, 0.7);
                height: 100vh;
            }
        }

        &-list {
            display: flex;
            justify-content: space-between;
            padding: 12.5px 0;

            @include responsive(sm) {
                flex-direction: column;
                text-align: center;

            }

            a {
                display: block;
                height: 100%;
                width: 100%;
                color: rgb(0, 0, 0);

                @include responsive(sm) {
                    padding: 30px 0;
                    border-bottom: 1px solid #3b3a3a;
                    color: rgb(255, 255, 255);
                }
            }

            a:hover {
                @include responsive(sm) {
                    background-color: #fff;
                    color: #000;
                    transition: all .4s;

                }
            }

        }
    }
}

// メインビジュアル

.mainvisurl {
    background-image: url(../img/top-main-mask.webp), url(../img/top_main.webp);
    background-size: cover;
    height: 396px;
    // position: relative;

    &-image {
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        height: 396px;
    }
}

.main-catcp {
    padding-top: 129px;
    margin: auto 0 auto auto;
    width: fit-content;

    &-h1 {
        font-size: 48px;
        text-align: center;
        margin-bottom: 10px;
        white-space: nowrap;

        @include responsive(sm) {
            font-size: 36px;
        }

        @include responsive(sp) {
            font-size: 24px;
            text-align: left;
        }
    }

    &-h2 {
        font-size: 16px;
        color: #E4BC2E;
        text-align: center;

        @include responsive(sp) {
            font-size: 14px;
            text-align: left;
        }

    }

}

// サービス
.service {
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0px;
        width: 100%;

        @include responsive(sm) {
            justify-content: center;
            gap: 38px;
        }
        @include responsive(smm){
            flex-direction: column;
        }


    }

    &-item {
        border-radius: 50%;
        width: 250px;
        height: 250px;

        @include responsive(sm) {
            width: 170px;
            height: 170px;
        }

        @include responsive(smm) {
            width: 225px;
            height: 225px;
        }

        a {
            height: 100%;
            width: 100%;
            display: block;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        h2 {
            font-size: 48px;

            @include responsive(sm) {
                font-size: 36px;
            }
        }
    }

    &-content .service-item:nth-of-type(1) {
        background-image: url(../img/top_mask.webp), url(../img/salon.webp);

        @include responsive(sm) {
            background-size: 100%;
        }
    }

    &-content .service-item:nth-of-type(2) {
        background-image: url(../img/top_mask.webp), url(../img/menu.webp);

        @include responsive(sm) {
            background-size: 100%;
        }
    }

    &-content .service-item:nth-of-type(3) {
        background-image: url(../img/top_mask.webp), url(../img/notes.webp);

        @include responsive(sm) {
            background-size: 100%;
        }
    }
}

.sub-visurl {
    &-image {
        object-fit: cover;
        width: 100%;
    }
}

// メッセージ
.message {
    &-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 68.98px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 17px;

        @include responsive(sm) {
            padding: 0 20px;
            text-align: left;
            font-size: 36px;
            line-height: 45.98px;

        }

        @include responsive(sp) {
            font-size: 24px;

        }
    }

    &-text {
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;

        @include responsive(sm) {
            padding: 0 20px;
            text-align: left;
        }

        @include responsive(sp) {
            font-size: 14px;

        }
    }

    &-btn {
        display: block;
        max-width: 312px;
        margin: 0 auto;
        padding: 10px 0;
        background-color: rgb(153, 0, 0);
        border-radius: 20px;
        text-align: center;
        margin-bottom: 50px;

        @include responsive(sp) {
            padding: 10px 20px;
        }
    }

    &-btn:hover {
        transition: all 0.25s;
        background-color: rgba(153, 0, 0, 0.7);
    }
}

// アクセス
.access {
    padding-bottom: 50px;

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        @include responsive(sp) {
            justify-content: center;
            flex-direction: column;
        }
    }

    &-adress {
        padding: 10px 0;
        border-bottom: 1px solid #fff;
    }

    &-left {
        width: 43.75%;

        @include responsive(sm) {
            width: 80%;
            margin: 0 auto 30px auto;
        }
        @include responsive(sp) {
            width: 90%;
        }
        


        &-title {
            font-size: 24px;
            padding: 10px 0;
            border-bottom: 1px solid #fff;
            @include responsive(sp){
                font-size: 18px;               
            }
        }

        &-flex {
            display: flex;
            gap: 12px;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid #fff;

        }

        &-tel {
            font-size: 18px;
        }
    }

    &-right {
        width: 52.25%;
        height: 300px;

        @include responsive(sm) {
            width: 80%;
            margin: 0 auto;
        }
        @include responsive(sp) {
            width: 90%;
            margin: 0 auto;
        }


        iframe {
            max-width: 450px;
            width: 100%;
            height: 100%;

            @include responsive(sm) {
                margin: 0 auto;
            }
        }
    }
}

// フッター
.footer {
    border-top: 1px solid #fff;

    small {
        display: block;
        text-align: center;
        padding: 23px 0 26px 0;
        font-weight: 700;
    }
}